.hero-image {
  background-image: url("https://lh5.googleusercontent.com/CJ2_WcDUjp_hqsNPw174_KdAGrZDivk-rAGCIiZiOSWiYGGex0Qt2UIHzBtR4vkXm5g68GcaY4T2YQJKJs2OySc=w16383");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 20vh;
  width: 100%;
}

.glass-bg {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.container2 {
  height: calc(100vh - 30vh);
}